{% extends "base.html" %}

{% block content %}
<div class="cntr-reg">
 {% if validlink %}
        <p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table style="margin: auto;">
                <tr>
                    <td>
                        {{ form.new_password1.errors }}<br>
                        <label for="id_new_password1">Новый пароль:</label><br>
                        {{ form.new_password1 }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.new_password2.errors }}<br>
                        <label for="id_new_password2">Подтвердите Пароль:</label><br>
                        {{ form.new_password2 }}
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Изменить пароль" class="genric-btn primary" style="margin-top: 15px"/></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Сбой пароля</h1>
        <p>Ссылка для сброса пароля была недействительной,
            возможно, потому что она уже использовалась.
            Пожалуйста, запросите новый пароль для сброса.</p>
    {% endif %}
</div>


{% endblock %}