<div class="paginator">
    <span>
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">Предыдущий</a>
        {% endif %}
        {% if page.has_previous or page.has_next %}
            <span>
                Страница {{ page.number }} из {{ page.paginator.num_pages }}
            </span>
        {% endif %}
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Следующий</a>
            
        {% endif %}
        
    </span>
</div>